**Exercícios:**

*1. Convite para festa pet.*

In [ ]:
for nome in ['Reginaldo', 'Gisele Pintcher', 'Scoob', 'Marleene', 'Zezinho', 'Cibele', 'Suely']:

  convite= ('Oi,' + nome + '! Por favor, venha para o sábado pet em minha casa!')
  print(convite)

Oi,Reginaldo! Por favor, venha para o sábado pet em minha casa!
Oi,Gisele Pintcher! Por favor, venha para o sábado pet em minha casa!
Oi,Scoob! Por favor, venha para o sábado pet em minha casa!
Oi,Marleene! Por favor, venha para o sábado pet em minha casa!
Oi,Zezinho! Por favor, venha para o sábado pet em minha casa!
Oi,Cibele! Por favor, venha para o sábado pet em minha casa!
Oi,Suely! Por favor, venha para o sábado pet em minha casa!

2. *Crie uma lista de 5 frutas e verifique se a fruta 'Morango'
faz parte da lista.*

In [ ]:
lista = ['Morango', 'Banana', 'Uva', 'Kiwi', 'Graviola']
'Morango' in lista

True

3. *Crie uma sequência de números pares entre 100 e 150 e
imprima na tela.*

In [ ]:
for numero in range (100,150):
  if numero % 2 == 0:
    print('Os números pares são: ', numero)

Os números pares são:  100
Os números pares são:  102
Os números pares são:  104
Os números pares são:  106
Os números pares são:  108
Os números pares são:  110
Os números pares são:  112
Os números pares são:  114
Os números pares são:  116
Os números pares são:  118
Os números pares são:  120
Os números pares são:  122
Os números pares são:  124
Os números pares são:  126
Os números pares são:  128
Os números pares são:  130
Os números pares são:  132
Os números pares são:  134
Os números pares são:  136
Os números pares são:  138
Os números pares são:  140
Os números pares são:  142
Os números pares são:  144
Os números pares são:  146
Os números pares são:  148

4. *Crie uma variável chamada temperatura e atribua o
valor 40. Supondo que a temperatura está diminuindo de
grau em grau, enquanto temperatura for maior que 25,
imprima as temperaturas na tela.*

In [ ]:
temperatura = 40
while temperatura > 25:
  print(temperatura,'°c')
  temperatura = temperatura - 1

40 °c
39 °c
38 °c
37 °c
36 °c
35 °c
34 °c
33 °c
32 °c
31 °c
30 °c
29 °c
28 °c
27 °c
26 °c

5. *Crie uma variável chamada contador = 0. Enquanto
counter for menor que 100, imprima os valores na tela.*

In [ ]:
contador = 0
while contador < 100:
  print(contador)
  contador = contador + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

6. *Crie uma lista vazia e uma variável com valor 4.
Enquanto o valor da variável for menor ou igual a 20,
adicione à lista, apenas os valores pares e imprima a lista.*

In [ ]:
lista = []
variavel = 4

for x in range(variavel,21):
  if x % 2 == 0:
    lista.append(x)

print(lista)

[4, 6, 8, 10, 12, 14, 16, 18, 20]

7. *Faça a correção dos erros no código abaixo e execute o
programa.*

temperatura = float(input(Qual a temperatura? ))

if temperatura > 30

print('Vista roupas leves.')

else

print('Busque seus casacos.')

In [ ]:
temperatura = float(input('Qual a temperatura? '))

if temperatura > 30:

  print('Vista roupas leves.')

else:

  print('Busque seus casacos.')

Qual a temperatura? 30
Busque seus casacos.

8.9. *Faça um programa que conte quantas vezes a letra "s"
aparece na frase abaixo.
“'Educação não transforma o mundo. Educação muda
pessoas. Pessoas transformam o mundo." (Paulo Freire)*

In [ ]:
frase = 'Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo. (Paulo Freire)'
print(frase.count('s'))

8

10. *Considere a lista abaixo e retorne apenas os elementos
cujo índice for maior que 5.*

In [ ]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
lista[6:]

['g', 'h']

11. *Crie um terceiro dicionário com as chaves do dicionário
1 e os valores do dicionário 2 abaixo.*

In [ ]:
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}
dict3 = {}

dict3 ['a'] = 4
dict3 ['b'] = 5

print(dict3)

{'a': 4, 'b': 5}

12.

In [ ]:
for um_valor in range(10):
  print(um_valor)

0
1
2
3
4
5
6
7
8
9

13.

In [ ]:
for um_char in "Venha para a festa":
  print(um_char)

V
e
n
h
a

p
a
r
a

a

f
e
s
t
a